:root
  font-size: 12px

body
  max-width: 600px
  margin: auto

button:disabled svg.font
  stroke: gray

h1
  text-align: center

.deactive, .hidden
  display: none

.font
  width: 20px
  height: 20px
  fill: none
  stroke: black
  stroke-width: 1px

#svg-core
  width: 0
  height: 0
  position: absolute