doctype html
html
  head(lang='en')
    title 54 cards deck
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='app.js')
  body(onload='init()')
    h1 54 cards deck
    .link
      a(href='..') back to the lib
    .menu
      button#menu-btn-play.selected(onclick="App.menu.action('play')") Play
      button#menu-btn-deck(onclick="App.menu.action('deck')") Deck
      button#menu-btn-help(onclick="App.menu.action('help')") Help
    #screen-play.screen
      h2 Play
      .line
        .stats
          p
            label # of cards left:&nbsp;
            span#play-stats-left
          p
            label # of cards in hand:&nbsp;
            span#play-stats-hand
          p
            label # of cards discarded:&nbsp;
            span#play-stats-discard
        .menu
          button(onclick='App.deck.draw()') Draw
          button(onclick='App.deck.shuffle()') Shuffle
          button(onclick='App.deck.clear()') Clear
          button(onclick="App.veil.open('deck')") Show deck
        h4 Cards in hand:
        #play-hand.list
      .line
        h4 Discarded cards:
        #play-discard.list
    #screen-deck.screen
      h2 Deck
      label The deck:
      br
      textarea#deck-cards(style='height:100px')
      hr
      label Current state:
      br
      textarea#deck-curr(style='height:180px')
      .menu
        button(onclick='App.deck.copy()') Copy
        button(onclick='App.deck.generate()') Generate
        button(onclick='App.deck.back()') Get deck
        button(onclick='App.deck.load()') Load
        button(onclick='App.deck.regen()') Regen
      hr
      h3 Deck samples
      div Classic 54:
      - var a = []
      for s in ['♥', '♦', '♠', '♣']
        for v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Jack', 'Queen', 'King']
          - a.push(s + '-' + v)
      - a.push('Red Joker')
      - a.push('Black Joker')
      - a = '["' + a.join('", "') + '"]'
      #sample-classic.sample(onclick="App.sample.copy('classic')")= a
      div 22 Triumphs:
      - a = []
      for v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
        - a.push(v)
      - a = '["' + a.join('", "') + '"]'
      #sample-triumph.sample(onclick="App.sample.copy('triumph')")= a
      div Tarot:
      - var a = []
      for s in ['♥', '♦', '♠', '♣']
        for v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Jack', 'Knight', 'Queen', 'King']
          - a.push(s + '-' + v)
      for v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 'Excuse']
        - a.push(v)
      - a = '["' + a.join('", "') + '"]'
      #sample-tarot.sample(onclick="App.sample.copy('tarot')")= a
    #screen-help.screen
      h2 Help
      h3 Play screen
      dl
        dt Clear
        dd Put every discarded cards back into the deck and shuffle the deck.
        dt Shuffle
        dd Shuffle the current deck, WITHOUT the discarded cards, just the deck.
      h3 Deck screen
      dl
        dt Copy
        dd Copy the "Current state" in the computer clipboard.
        dt Generate
        dd Using the deck set in "The deck" it generate a new deck state, resetting everything.
        dt Get deck
        dd Get back the deck in the "Current state" into "The deck" area (when you mess up with the deck).
        dt Load
        dd You can copy it on the "Current state" area and then load the state you left.
        dt Regen
        dd Reset the current deck state and shuffle the deck, from scratch, using the same deck. Like "Generate" but without using the deck set in the "The deck" area.
    #veil
      #veil-deck.veil-screen
        h2 Cards in the deck:
        #veil-deck-list
        .menu
          button(onclick='App.veil.close()') Close