$blocksize: 25px

body
  --alt-a-col: #ddd
  --base-col: white
  --inv-col: #333
  background: var(--base-col)
  color: var(--inv-col)

button
  border-color: var(--inv-col)
  background: var(--base-col)
  color: var(--inv-col)

h1
  text-align: center

.flag
  width: $blocksize
  height: $blocksize
  border: solid 1px black

.menu
  margin: 4px auto
  text-align: center

.settings
  margin: 5px auto
  display: flex
  justify-content: center
  gap: 10px

  .tog-settings
    display: inline-block
    user-select: none
    margin: 0

    & svg
      border: solid 1px
      border-radius: 10px

      & line
        fill: none
        stroke: var(--alt-a-col)
        stroke-width: 14px
        stroke-linecap: round

      & .font
        stroke: var(--inv-col)
        fill: none
        stroke-width: 2
        stroke-linecap: round
        stroke-linejoin: round
        transform: scale(0.6)

      & .set-select
        fill: var(--base-col)
        stroke: var(--inv-col)
        stroke-width: 2px

#config
  margin: auto
  width: fit-content
  display: grid
  gap: 3px

  & input
    width: 40px
    grid-column-start: 2
  
  & div
    grid-column-start: 1
    grid-column-end: 3
    display: inline-grid
    justify-items: center
  
  & button
    font-size: 19px

#mines
  display: none

#thegrid
  display: grid
  margin: auto
  gap: 2px
  width: fit-content

  & > div
    display: inline-grid
    width: $blocksize
    min-width: $blocksize
    height: $blocksize
    background: gray
    cursor: pointer