
h1, h2, h3
  text-align: center

textarea
  display: block
  width: 480px
  max-width: 480px
  margin: auto

.link
  text-align: center
  margin: 5px auto

.menu
  margin: 5px auto
  text-align: center

  & button
    margin: auto 5px

    &.selected
      background: darkgray

.sample
  border: solid 1px #333
  border-radius: 5px
  background: lightgray
  padding: 4px
  font-family: monospace
  cursor: pointer

.screen
  display: none
  margin: auto
  width: 500px
