doctype html
html
  head(lang='en')
    title Zombicide decks handler
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='app.js')
  body(onload='initZD()')
    //
    // TODO
    //
    h1 Zombicide deck handler
    //
    .menu
      button Data
      button Deck
    //
