doctype html
html
  head
    title Crunchy - story handler
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='styles/main.css')
    script(type='text/javascript', src='scripts/main.js')
  body(onload='App.init()')
    svg#svg-core(xmlns='http://www.w3.org/2000/svg', width=0, height=0)
      defs!= fonts
      defs
        radialGradient#dr-grad
          stop(offset='0%', stop-color='white')/
          stop(offset='60%', stop-color='white')/
          stop(offset='100%', stop-color='#fff0')/
        path#d4(d="M14.419,1.226a3,3,0,0,0-4.838,0L0,15.236l12,8.751,12-8.751Zm6.833,13.538L13,20.783V2.693ZM11,2.692V20.783L2.748,14.764Z")
        path#d6(d="M13.543.428a2.989,2.989,0,0,0-3.086,0L1,6.1V17.9l9.457,5.674a2.991,2.991,0,0,0,3.087,0L23,17.9V6.1ZM11.485,2.143a1,1,0,0,1,1.03,0l7.541,4.525L12,11.5,3.944,6.668ZM3,16.766V8.434l8,4.8v8.332Zm10,4.8V13.234l8-4.8v8.332Z")
        path#d8(d="M14.109.867A3.034,3.034,0,0,0,9.846.915L.025,12,9.891,23.133A2.977,2.977,0,0,0,12,24a3.008,3.008,0,0,0,2.155-.916L23.96,12Zm6.629,10.509L13,13.662V2.628ZM11,2.624V13.662L3.253,11.373ZM4.25,13.753,11,15.747v5.626ZM13,21.375V15.747l6.736-1.99Z")
        path#d10(d="M14.116.867A3.071,3.071,0,0,0,9.9.867L.03,13.063,9.9,23.133a3,3,0,0,0,4.23-.012L23.97,13.063ZM12.007,13.75,9.194,11.645l2.812-7.718,2.8,7.719ZM7.26,11.109,3.7,11.7,9.785,4.179Zm9.481,0L14.224,4.175,20.3,11.7ZM3.514,13.761l4.229-.7L11.008,15.5v5.907Zm9.494,7.646V15.5l3.25-2.442,4.23.705Z")
        path#d12(d="M20.729,3.271,15.277,0H8.723L3.271,3.271,0,8.723v6.554l3.271,5.452L8.723,24h6.554l5.452-3.271L24,15.277V8.723ZM21.777,8.9l-4.039,4.846L13,11.382v-4.6l6.524-1.632ZM14.307,22H9.693l-2.44-6.508L12,13.118l4.748,2.374ZM9.277,2h5.446l2.693,1.615L12,4.969,6.584,3.616Zm-4.8,3.149L11,6.78v4.6L6.262,13.751,2.223,8.9ZM2,14.723v-2.96l3.123,3.748,1.934,5.157-2.328-1.4Zm17.271,4.548-2.329,1.4,1.933-5.156L22,11.763v2.96Z")
    #welcome.block
      h2 Story's list
      div Select a story:
      select#story-select
      .center
        button(onclick='App.select()') GO!
    //
    // TODO: show the river
    //
    #river.block
      h2
        span Story:
        span#story-title
      //
      .center
        button(onclick='App.quit()') Back
      //
    //
    #dr-btn
      button(onclick='App.dr.toggle()')
        svg.font: use(href='#dices')
    #dr-block
      .center Dice Roller
      .center
        select
          option(value='cortex') Cortex
          option(value='recluse') Recluse
      #dr-cortex
        .dice-line
          each v in [4, 6, 8, 10, 12]
            button(onclick='App.dr.add('+v+')'): svg.dice: use(href='#d'+v)
        .center Tray
        #dr-tray.dice-line
        hr
        .btns.center
          button(onclick='App.dr.clear()') Clear
          button(onclick='App.dr.roll()') Roll
      #dr-recluse
        .center
          button(onclick='App.dr.adv()') ADV
          button(onclick='App.dr.recluse()') NORMAL
          button(onclick='App.dr.dis()') DIS
      hr
      #dr-history
    //
    // TODO: show the character list
    //