doctype html
html
  head
    title Crunchy - story handler
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='styles/main.css')
    script(type='text/javascript', src='scripts/main.js')
  body(onload='App.init()')
    svg#svg-core(xmlns='http://www.w3.org/2000/svg', width=0, height=0)
      include ../utils/dice.pug
      defs!= fonts
      defs
        radialGradient#dr-grad
          stop(offset='0%', stop-color='white')/
          stop(offset='60%', stop-color='white')/
          stop(offset='100%', stop-color='#fff0')/
    #welcome.block
      h2 Story's list
      div Select a story:
      select#story-select
      .center
        button(onclick='App.select()') GO!
    //
    // TODO: show the river
    //
    #river.block
      h2
        span Story:
        span#story-title
      //
      .center
        button(onclick='App.quit()') Back
      //
    //
    #dr-btn
      button(onclick='App.dr.toggle()')
        svg.font: use(href='#dices')
    #dr-block
      .center Dice Roller
      .center
        select
          option(value='cortex') Cortex
          option(value='recluse') Recluse
      #dr-cortex
        .dice-line
          each v in [4, 6, 8, 10, 12]
            button(onclick='App.dr.add('+v+')'): svg.dice: use(href='#d'+v)
        .center Tray
        #dr-tray.dice-line
        hr
        .btns.center
          button(onclick='App.dr.clear()') Clear
          button(onclick='App.dr.roll()') Roll
      #dr-recluse
        .center
          button(onclick='App.dr.adv()') ADV
          button(onclick='App.dr.recluse()') NORMAL
          button(onclick='App.dr.dis()') DIS
      hr
      #dr-history
    //
    // TODO: show the character list
    //