doctype html
html
  head(lang='en')
    title the clock
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='app.js')
  body(onload='App.init()')
    //
    // TODO
    //
    canvas#clock
    //
    // TODO
    //
    #access(onclick='')
    //
    #veil
      .config
        //
        // TODO
        //