doctype html
html
  head(lang='en')
    title the clock
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='bundle.js')
  body(onload='App.init()')
    canvas#clock(ondblclick='App.toggle()')
    #config(style='display:none')
      //
      div this
      //
      .config
        //
        // TODO
        //
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        //