doctype html
html
  head(lang='en')
    title the clock
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='bundle.js')
  body(onload='App.init()')
    svg(xmlns='http://www.w3.org/2000/svg', style='display:none')
      defs
        //
        //
    canvas#clock(ondblclick='App.toggle()')
    #config(style='display:none')
      .selector
        .block
          button()
            svg.arrow: use(href='#up')
          //
        .inter -
        .block
          //
          //
        .inter -
        .block
          //
          //
      .selector
        .block
          //
          //
        .inter :
        .block
          //
          //
        .inter :
        .block
          //
          //
      .config
        //
        // TODO
        //
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        div plop
        //